.add-expense-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
}

.add-expense-container{
    padding: 15px;
    margin-inline: 200px;
}

.name{
    height: 40px;
    margin-top: 8px;
}

.cost{
    height: 40px;
}

.categories{
    min-width: 150px;
}

.add{
    width: 150px;
}