.list-item{
    margin-bottom: 12px;
    margin-top: 12px;
}

.item-container{
    margin-inline: 10px;
}

.list-container{
    margin-top: 25px;
    margin-inline: 40px;
    padding: 12px;
}

.total-bottom{
    margin-top: 10px;
}